html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #EEE;
    font-family: Helvetica, Arial, sans-serif;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 60px;
}
.page-footer {
    background: linear-gradient(to top, #ddd, #eee);
    height: 50px;
    padding:5px;
}
.gpl-logo {
    float:right;
}

a {
    color: brown;
}

#content {
    padding: 5px;
}